<div class="bg-gray-300">
  <div class="max-w-7xl mx-auto px-4 py-3">
    <div class="flex items-center justify-between">
      <div class="text-2xl font-semibold">
        <a routerLink="/home">
          <img src="logo.png" alt="Nachhilfe25" class="h-12">
        </a>
      </div>
      <div class="flex space-x-6">
        <a [routerLink]="'subjects'" routerLinkActive="text-emerald-600 font-bold border-emerald-600" class="text-lg hover:text-emerald-600 transition-all py-2 px-4 rounded-md">
          <i class="fa-solid fa-book"></i> Kursangebot
        </a>
        @if(isLoggedIn()){
          <a routerLink="registrations" routerLinkActive="text-emerald-600 font-bold border-emerald-600" class="text-lg hover:text-emerald-600 transition-all py-2 px-4 rounded-md">
            <i class="fa-solid fa-calendar-days"></i> Registrierungen
          </a>
          <a [routerLink]="'login'" routerLinkActive="text-emerald-600 font-bold border-emerald-600" class="text-lg hover:text-emerald-600 transition-all py-2 px-4 rounded-md">
            <i class="fa-solid fa-user"></i>
          </a>
        }
        @else {
          <a [routerLink]="'login'" routerLinkActive="text-emerald-600 font-bold border-emerald-600"
             class="text-lg hover:text-emerald-600 transition-all py-2 px-4 rounded-md">
            Login
          </a>
        }
      </div>
    </div>
  </div>
</div>

<div class="p-18">
  <router-outlet></router-outlet>
</div>
